* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(./istockphoto-514268489-2048x2048.jpg);
}

h2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #a7a9a6;
    margin-top: 3rem;
    font-size: 2rem;
}

.clock {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 1rem;
    color: aqua;
    /* gap: 20px; */
    border: 5px solid red;
    border-radius: 15px;
    height: 23rem;
    width: 12rem;
    margin-left: 25.5rem;
}

.hour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 3px solid yellow; */
    height: 6rem;
    width: 6rem;
    /* border-radius: 100px; */
    /* opacity: 0.3; */
}

.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid yellow; */
    height: 6rem;
    width: 6rem;
    border-radius: 100px;
    
}

.seconds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 8px solid #800000; */
    height: 6rem;
    /* width: 6rem; */
    border-radius: 100px;
    /* background-color: gray; */
    
}

.text {
    font-size: 0.5rem;
}

.time {
    font-size: 2.4rem;
}

#ampm {
    margin-top: 20px;
}

.speaker {
    display: flex;
    height: 16px;
    width: 10rem;
    border: 3px solid black;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

