* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(./istockphoto-514268489-2048x2048.jpg);
}

h2 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #a7a9a6;
    margin-top: 10rem;
    font-size: 2rem;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: aqua;
    gap: 20px;
}

.hour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid yellow;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    /* opacity: 0.3; */
}

.minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid yellow;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
}

.seconds {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid yellow;
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
}

.text {
    font-size: 0.7rem;
}

.time {
    font-size: 2.4rem;
}